#edit-field-page-submit-buttons {
  height: 30px;
  overflow: hidden;
}

.form-region-right fieldset {
  border: none 0;
}

.form-region-right .fieldset-wrapper .tabledrag-toggle-weight-wrapper {
  display: none;
}

table#edit-field-page-image-und-table,
table#edit-field-page-documents-und-table {
  width: 100%;
  overflow: hidden;
  border: 0 none;
}

table#edit-field-page-image-und-table thead,
table#edit-field-page-documents-und-table thead {
  display: none;
}

table#edit-field-page-image-und-table tr,
table#edit-field-page-documents-und-table tr {
  border: 0 none;
}

table#edit-field-page-image-und-table td,
table#edit-field-page-documents-und-table td {
  border: 0 none;
  padding: 0;
}

.form-region-right .sticky-header {
  display: none;
}

.form-region-right .image-widget {
  padding: 1em 0 1em 1em;
  width: 100%;
}

.form-region-right .image-widget .image-widget-data {
  width: 270px;
}

.form-region-right .image-widget .image-widget-data span.file {
  white-space: normal;
}

.form-region-right .image-widget .image-widget-data div.file-size {
  white-space: normal;
}

.form-region-right .image-widget .image-widget-data div.form-type-textfield input {
  width: 290px;
}

.form-region-right .image-widget .image-widget-data div.form-type-textfield div.description {
  white-space: normal;
  width: 270px;
}